<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这是一个SQL映射文件 -->
<!-- 名称空间，写接口的全类名 -->
<mapper namespace="com.system.mapper.UserMapper">
    <!--<cache type="com.system.cache.MyCache"/>-->
    <select id="getStu" resultMap="student">
        select * from student where stuNo=#{stuNo} and password=#{password}
    </select>
    <select id="getTea" resultMap="teacher">
        select * from teacher where teaNo=#{teaNo} and password=#{password}
    </select>
    <select id="getAdmin" resultMap="admin">
        select * from admin where adminNo=#{adminNo} and password=#{password}
    </select>
    <resultMap type="com.system.bean.Student" id="student">
        <id property="id" column="id"></id>
        <result property="userName" column="stuName"/>
        <result property="password" column="password"/>
        <result property="stuNo" column="stuNo"/>
        <result property="professional" column="professional"/>
        <result property="userType" column="userType"/>
    </resultMap>
    <resultMap type="com.system.bean.Teacher" id="teacher">
        <id property="id" column="id"></id>
        <result property="userName" column="teaName"/>
        <result property="password" column="password"/>
        <result property="teaNo" column="teaNo"/>
        <result property="userType" column="userType"/>
    </resultMap>
    <resultMap type="com.system.bean.Admin" id="admin">
        <id property="id" column="id"></id>
        <result property="userName" column="adminName"/>
        <result property="password" column="password"/>
        <result property="adminNo" column="adminNo"/>
        <result property="userType" column="userType"/>
    </resultMap>
</mapper>
